
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply object segmenter on GPU (1 input image, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ObjectSegmenter
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply object segmenter on GPU (2 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ObjectSegmenter_2
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply object segmenter on GPU (3 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ObjectSegmenter_3
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply object segmenter on GPU (4 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ObjectSegmenter_4
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply object segmenter on GPU (5 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ObjectSegmenter_5
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply pixel classifier on GPU (1 input image, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.PixelClassifier
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply pixel classifier on GPU (2 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.PixelClassifier_2
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply pixel classifier on GPU (3 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.PixelClassifier_3
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply pixel classifier on GPU (4 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.PixelClassifier_4
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply pixel classifier on GPU (5 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.PixelClassifier_5
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply probability mapper on GPU (1 input image, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ProbabilityMapper
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply probability mapper on GPU (2 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ProbabilityMapper_2
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply probability mapper on GPU (3 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ProbabilityMapper_3
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply probability mapper on GPU (4 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ProbabilityMapper_4
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply probability mapper on GPU (5 input images, CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ProbabilityMapper_5
Plugins>ImageJ on GPU (CLIJx)>Segmentation>APOC,          "Apply object classifier on GPU (CLIJx-APOC experimental)",           net.haesleinhuepf.clijx.apoc.ObjectClassifier
